.wrapper {
  max-width: 600px;
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: Text;
  // text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 24px;
}

.calender {
  display: flex;
  max-width: 0 16px;
  .col {
    display: flex;
    flex-direction: column;
  }

  .col .day-title {
    text-transform: uppercase;
    padding: 20px;
    font-family: Ultra;
    font-size: 1.6rem;
  }

  .col .day-number {
    min-height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2.4rem;
    font-weight: bold;
    font-family: var(--large-font);
  }

  @keyframes slideOut {
    0% {
      transform: scale(0.5);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }

  .col .active-day::before {
    content: "";
    background-image: url("../../../images/br-heart.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: slideOut 1.5s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media (max-width: 600px) {
  .calender .col {
    .day-number,
    .day-title {
      padding: 12px;
    }
  }

  .calender .col .day-title,
  .calender .col .day-number {
    padding: 8px;
  }

  .calender .col .day-title {
    font-size: 1.4rem;
  }

  .calender .col .day-number {
    font-size: 2rem;
  }

  .title {
    // font-size: 2rem;
  }
}
